body{
    background-image:url("hack-7.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 130vh;
}
.table
{
  width: 50%;
  margin:10rem auto;
}
.form-group
{
    text-align: center;
    position: relative;
   top:10rem
}
.btn-primary
{
    position: relative;
    bottom: 10px;
}
#main
{
    margin: auto;
    width: 50%;
    display:inline-block;
}
#user
{
    color:red;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
#head
{
    position: relative;
    bottom: 120px;
    text-transform: capitalize;
}
#p
{
    position: relative;
    bottom: 120px;
    text-transform: capitalize;
}
